<nav class="custom-navbar">
  <div class="logo" (click)="scrollToTop()">
    RD
    <label class="color-picker-wrapper">
      🎨
      <input
        type="color"
        [value]="currentColor"
        (change)="updatePrimaryColor($event)"
        class="color-picker"
      />
    </label>
  </div>

  <input type="checkbox" id="menu-toggle" />
  <label for="menu-toggle" class="hamburger">&#9776;</label>

  <ul class="nav-links">
    <li><a href="#home" [class.active]="activeSection === 'home'">Home</a></li>
    <li>
      <a href="#about" [class.active]="activeSection === 'about'">About</a>
    </li>
    <li>
      <a href="#projects" [class.active]="activeSection === 'projects'"
        >Projects</a
      >
    </li>
    <li>
      <a href="#contact" [class.active]="activeSection === 'contact'"
        >Contact</a
      >
    </li>
  </ul>
</nav>
