@use "../../../styles/theme" as *;

.color-picker-wrapper {
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin-left: 0.5rem;

  .color-picker {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}

.custom-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-bg);
  padding: 1rem 2rem;
  color: var(--text-light);
  position: sticky;
  top: 0;
  z-index: 100;

  .logo {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--primary-color);
  }

  #menu-toggle {
    display: none;
  }

  .hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: var(--text-light);
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;

    li a {
      text-decoration: none;
      color: var(--text-light);
      font-weight: 500;
      position: relative;
      padding-bottom: 4px;
      transition: color 0.3s;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 0;
        background-color: var(--primary-color);
        transition: width 0.3s ease-in-out;
      }

      &:hover::after {
        width: 100%;
      }

      &:hover {
        color: var(--primary-color);
      }

      &.active {
        color: var(--primary-color);

        &::after {
          width: 100%;
          background-color: var(--primary-color);
        }
      }
    }
  }

  @media (max-width: 768px) {
    .hamburger {
      display: block;
    }

    .nav-links {
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: var(--primary-bg);
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease;
    }

    #menu-toggle:checked ~ .nav-links {
      max-height: 300px;
      padding: 1rem 0;
    }

    .nav-links li {
      text-align: center;
      padding: 0.5rem 0;
    }
  }
}
