@use "../../../../styles/theme" as *;

.terminal {
  background-color: #111;
  color: var(--primary-color);
  font-family: "Fira Code", "Courier New", monospace;
  // padding: 2.5rem 1rem 1rem;
  padding: 1rem 1rem 0;
  border-radius: 1rem;
  max-width: 800px;
  margin: 2rem auto;
  height: 400px; // 🔒 FIXED HEIGHT
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  white-space: pre-wrap;
  box-shadow: 0 0 20px var(--primary-color);
  border: 1px solid rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(4px);
  scroll-behavior: smooth;

  .prompt-line {
    display: flex;
    align-items: center;
    margin-bottom: 0.25rem;
  }

  .prompt {
    color: #39ff14;
    margin-right: 0.5rem;
  }

  .command {
    color: var(--primary-color);
  }

  .output {
    margin-left: 2rem;
    color: #87ceeb;
    white-space: pre-line;
  }

  .input-command {
    flex: 1;
    background: transparent;
    border: none;
    color: white;
    font-family: inherit;
    font-size: 1rem;
    outline: none;
    color: var(--primary-color);
  }

  // 👇 Scrollbar styling
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}
.terminal-wrapper {
  position: relative;
  max-width: 800px;
  margin: auto;
}

.scroll-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 10;
  background: #2c2c2c;
  color: var(--primary-color);
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 1;
    background: #333;
  }
}
