<section class="projects-section bg-section" id="projects">
  <h2 class="text-center mb-10rem">Projects</h2>
  <div class="container custom-projects" data-aos="fade-up">
    <div class="row align-items-center">
      <!-- Left Column: Image Stack -->
      <div class="col-md-6 d-flex justify-content-center mb-4">
        <div class="image-stack m-4" (wheel)="onScroll($event)">
          <img
            *ngFor="let project of projects; let i = index"
            [src]="project.image"
            [alt]="project.name"
            [class]="getClass(i)"
            (click)="selectProject(i)"
          />
          <div class="project-pagination d-flex justify-content-center mt-4">
            <span class="pagination-indicator">
              {{ selectedProjectIndex + 1 }}/{{ projects.length }}
            </span>
          </div>
        </div>
      </div>

      <!-- Right Column: Project Info -->
      <div
        class="col-md-6 project-content text-md-start text-center mt-4 mt-md-0"
      >
        <h3 class="project-title">{{ projects[selectedProjectIndex].name }}</h3>
        <p class="project-description">
          {{ projects[selectedProjectIndex].description }}
        </p>

        <div class="tech-stack mt-3">
          <span
            *ngFor="let tech of projects[selectedProjectIndex].techStack"
            class="badge me-2 mb-2"
          >
            {{ tech }}
          </span>
        </div>

        <a
          [href]="projects[selectedProjectIndex].github"
          target="_blank"
          class="btn btn-outline-light mt-4"
        >
          <i class="bi bi-github me-2"></i> View on GitHub
        </a>
      </div>
    </div>
  </div>
</section>
